a.btn-default,
button.btn-default,
div.btn-default {
    padding: 0 18px;
    border-style: solid;
    border-width: 0px;
    border-color: transparent;
    border-radius: 8px;
    background-color: transparent;
    background: linear-gradient(94deg, #dd00ac 10.66%, #7130c3 53.03%, #410093 96.34%, rgba(255, 0, 238, 0.26) 191.41%, rgba(255, 59, 212, 0) 191.43%);
    background-size: 200% auto;
    transition-duration: 300ms;
    color: var(--clr-white);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    letter-spacing: 0.5px;
    width: auto;
    transition: 0.4s;
}

.btn-default {
    background: linear-gradient(90deg, #3b82f6, #9333ea);
    color: var(--clr-white);
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;

    &:hover {
        background: linear-gradient(90deg, #9333ea, #3b82f6);
    }
}

a.btn-default:hover,
button.btn-default:hover,
div.btn-default:hover {
    box-shadow: var(--shadow-primary);
    filter: brightness(125%);
    color: var(--clr-white);
    text-decoration: none;
    transform: scale(1.05);
}

.btn-read-more {
    span {
        position: relative;
        color: #ccceef;
        display: inline-block;
        line-height: 35px;
        transition: 0.3s;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            background-color: hsla(0, 0%, 100%, .1);
            transition: 0.3s;
            width: 100%;
            bottom: 3px;
        }

        &::before {
            position: absolute;
            content: "";
            left: auto;
            bottom: 2px;
            background: #5b4bff;
            width: 0;
            height: 2px;
            transition: 0.3s;
            right: 0;
        }
    }

    &:hover {
        span {
            color: #5b4bff;

            &::before {
                width: 100%;
                left: 0;
                right: auto;
            }
        }
    } }