@use "../default/variables" as *; // Importing all the variables
.bg-flashlight-static {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #5b4bff, rgba(39, 39, 55, 0.2));
    opacity: 0.2;
    width: 100%;
    height: 100%;
    transition: 0.5s, top 0s, left 0s;
    border-radius: var(--radius);
    transition: all 0.3s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 2px;
    background: var(--color-blackest);
    border-radius: var(--radius);
    transition: all 0.3s ease-in-out;
  }

  & > * {
    z-index: 2;
    position: relative;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &.bg-secondary {
    &::before {
      background: radial-gradient(
        var(--color-secondary),
        transparent,
        transparent
      );
    }
  }

  &.bg-tertiary {
    &::before {
      background: radial-gradient(
        var(--color-tertiary),
        transparent,
        transparent
      );
    }
  }
}

.mainmenu-nav {
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
  .mainmenu {
    display: flex;
    margin: 0;
    padding: 0;

    > li {
      > a {
        color: var(--color-heading);
        font-size: 16px;
        font-weight: 500;
        padding: 0 17px;
        display: flex;
        align-items: center;
        gap: 5px;
        height: 80px;
        line-height: 80px;
        transition: 0.3s;

        @media #{$lg-layout} {
          padding: 0 10px;
        }

        @media #{$md-layout} {
          padding: 0 12px;
        }
        @media (min-width: 992px) and (max-width: 1200px) {
          padding: 0 8px !important;
        }
        &:hover,
        &.active {
          color: #ff3bd4 !important;
        }
      }

      &.current {
        > a {
          color: #ff3bd4 !important;
        }
      }
    }

    li {
      margin-top: 0;
      margin-bottom: 0;
      position: relative;

      &.has-droupdown {
        .submenu {
          min-width: 260px;
          height: auto;
          position: absolute;
          top: 90%;
          left: 0;
          z-index: 90;
          opacity: 0;
          visibility: hidden;
          text-align: left;
          padding: 12px 0;
          transition: 0.3s;
          border-radius: 0 0 10px 10px;
          background-color: var(--color-blackest);
          box-shadow: var(--shadow-lighter);

          li {
            a {
              font-weight: 500;
              padding: 5px 20px;
              font-size: 14px;
              display: block;
              color: var(--color-heading);
              margin: 0 10px;
              border-radius: 3px;
              // @extend %transition;

              &:hover {
                color: #ff3bd4 !important;
                background: rgba(6, 6, 6, 0.7);
              }

              &.active {
                color: #ff3bd4 !important;
                background: rgba(6, 6, 6, 0.7);
              }
            }
          }
        }

        &:hover {
          .submenu {
            opacity: 1;
            visibility: visible;
            top: 100%;
          }
        }
      }

      &.with-megamenu {
        // position: static;

        .lightchain-megamenu {
          position: absolute;
          transition: 0.3s;
          top: 90%;
          width: 100%;
          left: 0;

          padding: 0 0px;
          visibility: hidden;
          opacity: 0;

          &.right-align {
            left: unset;
          }

          .wrapper {
            border-radius: 0 0 10px 10px;
            background-color: var(--color-blackest);
            box-shadow: 0px 20px 20px 8px rgba(0, 0, 0, 0.09);
            border: 1px solid hsla(0, 0%, 100%, 0.1);
            border-top: none;
            overflow: hidden;
            .lcai-short-title {
              padding: 16px 4px 10px;
              text-align: left;
              margin-bottom: 10px;
              border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
              padding-top: 0;
            }
            .single-mega-item {
              padding: 16px !important;
              border-right: 1px solid rgb(115 118 170 / 15%);
              @media #{$lg-layout} {
                padding: 8px !important;
              }
              &.has-bg-1 {
                background: url(/images/banner/header-banner-01.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
              }
              &:last-child {
                border-right: 0 none;
              }
            }
            .mega-menu-item {
              padding: 0 10px 15px 10px;
              border-right: 1px solid var(--color-extra04);
              height: 100%;
              &.mega-menu-card-item {
                padding: 0;
                border: 0;
                display: flex;
                flex-direction: column;
                gap: 4px;

                .lcai-nav-card {
                  padding: 8px;
                  margin: 0 !important;
                  border-radius: 8px;
                  transition: 0.3s;

                  .icon {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(204, 206, 239, 0.1);
                    transition: all 0.3s ease-in-out;

                    i {
                      margin-top: 0 !important;
                    }

                    &.bg-flashlight-static::before,
                    &.bg-flashlight-static::after {
                      content: "";
                      border-radius: 50%;
                    }

                    &.bg-flashlight-static::before {
                      background: linear-gradient(
                        94deg,
                        #dd00ac 10.66%,
                        #7130c3 53.03%,
                        #410093 96.34%,
                        rgba(255, 0, 238, 0.26) 191.41%,
                        rgba(255, 59, 212, 0) 191.43%
                      ) !important;
                      opacity: 0;
                    }

                    &.bg-flashlight-static::after {
                      content: "";
                      background: #1b1c3c;
                    }
                  }

                  .content {
                    display: flex;
                    flex-direction: column;
                    margin-left: 8px;
                    gap: 4px;

                    .title {
                      font-size: 14px;
                      line-height: normal;
                      font-weight: 600;
                    }

                    .description {
                      font-size: 12px;
                      line-height: normal;
                      color: #7376aa;
                    }
                  }

                  .right-arrow {
                    position: absolute;
                    right: 12px;
                    width: 14px;
                    overflow: hidden;
                    display: flex;
                    transition: all 0.3s ease-in-out;
                    i {
                      margin-top: 0 !important;
                      transition: all 0.3 ease-in-out;
                      transform: translateX(-13px);
                    }
                    .hover-icon {
                      opacity: 0;
                      visibility: hidden;
                    }
                  }

                  &:hover {
                    color: var(--color-heading) !important;

                    .icon {
                      &.bg-flashlight-static::before {
                        opacity: 1;
                      }
                    }

                    .right-arrow {
                      i {
                        transform: translateX(0px);
                      }

                      .default-icon {
                        opacity: 0;
                        visibility: hidden;
                      }

                      .hover-icon {
                        opacity: 1;
                        visibility: visible;
                      }
                    }
                  }
                }
              }
              li {
                a {
                  font-weight: 500;
                  padding: 5px 14px;
                  font-size: 15px;
                  display: block;
                  color: var(--color-heading);
                  margin: 0 10px;
                  border-radius: 4px;
                  transition: 0.3s;
                  display: flex;
                  align-items: center;

                  .lightchain-badge-card {
                    margin-left: 10px;
                  }

                  &:hover,
                  &.active {
                    color: #ff3bd4 !important;
                    background: rgba(6, 6, 6, 0.7);
                  }
                }
              }
            }
          }

          &.with-mega-item-2 {
            width: 600px;
            margin: inherit;
          }

          &.with-mega-item-3 {
            width: 900px;
            margin: inherit;
            @media #{$lg-layout} {
              width: 800px;
              left: -100px;
            }
          }
        }

        .single-mega-item {
          &:last-child {
            .mega-menu-item {
              border-right: 0 none;
            }
          }
        }

        &:hover {
          .lightchain-megamenu {
            opacity: 1;
            visibility: visible;
            top: 100%;
          }
        }
      }
    }
  }
}
.mainmenu-nav .mainmenu li.with-megamenu:hover .lightchain-megamenu {
  opacity: 1;
  visibility: visible;
  left: 0px;
}
.mainmenu-nav
  .mainmenu
  li.with-megamenu
  .lightchain-megamenu.with-mega-item-3 {
  @media #{$laptop-device} {
    left: -200px !important;
  }
  @media #{$lg-layout} {
    left: -100px !important;
  }
}
.mainmenu-nav
  .mainmenu
  li.with-megamenu
  .lightchain-megamenu
  .wrapper
  .mega-menu-item {
  padding: 10px 0px;
  border-right: 1px solid var(--color-extra04);
  height: 100%;
}
@media (min-width: 1600px) {
  .d-extra-device-block {
    display: block !important;
  }

  .d-extra-device-none {
    display: none !important;
  }

  .mainmenu-nav .mainmenu > li > a {
    padding: 0 12px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .lightchain-header.header-default {
    .header-btn .btn-default {
      padding: 0px 10px !important;
      height: 35px !important;
      line-height: 35px !important;
      font-size: 14px !important;
    }

    .mainmenu-nav .mainmenu > li > a {
      padding: 0 8px;
    }

    .logo a img {
      max-height: 30px;
    }
  }
}
.lcai-dashboard-page
  .mainmenu-nav
  .mainmenu
  li.with-megamenu
  .lightchain-megamenu {
  left: unset;
  right: 0px;
}
.mainmenu-nav {
  .content {
    text-align: left;
  }
  position: static !important;
  transform: none !important;
}
.mainmenu-nav .mainmenu li.with-megamenu .lightchain-megamenu.small {
  width: 300px;
  @media #{$lg-layout,$laptop-device} {
    width: 275px;
  }
}
.has-menu-child-item {
  a i {
    // width: 24px;
    display: inline-block;
    transition: 0.3s;
    // margin-top: 16px !important;
  }
  a svg {
    // width: 24px;
    display: inline-block !important;
    transition: 0.3s;
    // margin-top: 16px !important;
  }
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.display-flex {
  display: flex !important;
  flex-wrap: wrap;

  @media (min-width: 992px) {
    .col-sm {
      flex: 0 0 auto;
      width: 33.33333333%;
    }

    .col-md {
      flex: 0 0 auto;
      width: 50%;
    }
  }
}
.news-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  height: 100%;
  .inner {
    height: 100%;
    a {
      display: block;
      position: relative;
      height: 100%;
      padding: 0 !important;
      img {
        height: 100%;
      }
    }
  }
  .card-content {
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .meta-text {
    font-size: 12px;
    line-height: 1;
  }

  .title {
    margin-top: 8px;
    font-size: var(--font-size-b2);
    line-height: var(--line-height-b2);
    margin-bottom: 0;

    a {
      color: var(--color-heading);
    }
  }

  .card-image {
    img {
      transition: 0.3s;
    }
  }

  &:hover {
    .card-image {
      img {
        transform: scale(1.02);
      }
    }
  }
}
.lightchain-badge {
  display: inline-block;
  background-color: #5b4bff;
  padding: 0 16px;
  height: 30px;
  line-height: 30px;
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.5px;

  &.position-top-right {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &.position-top-left-20 {
    position: absolute;
    left: 20px;
    top: 20px;
  }

  &.lightchain-badge-border {
    border-radius: 52px;
    border: 1px solid rgba(91, 75, 255, 0.15);
    background: #0f1021;
    text-transform: uppercase;
    display: inline-flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
  }
}
.lcai-menu-short-title {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.lcai-short-title {
  font-size: 12px;
  padding-bottom: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  opacity: 0.5;
  margin-bottom: 6px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}
.mainmenu-nav
  .mainmenu
  li.with-megamenu
  .lightchain-megamenu
  .wrapper
  .lcai-short-title {
  text-align: left;
  margin-bottom: 10px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  padding: 0 4px 10px;
}
.menu-dd-icon {
  font-size: 12px;
}
.d-block {
  display: block !important;
}
.popup-mobile-menu .mainmenu .has-menu-child-item > a::after {
  display: block !important;
  position: absolute;

  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s;
  font-size: 16px;
  font-family: "Font Awesome 6 Pro";
  font-weight: 300;
  content: "+";
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}
html.light {
  .popup-mobile-menu .mainmenu li a {
    color: #65676b !important;
  }
  .mainmenu-nav .mainmenu li.has-droupdown .submenu li a.active {
    background: #d8d8d8;
  }

  .mainmenu-nav
    .mainmenu
    li.with-megamenu
    .lightchain-megamenu
    .wrapper
    .mega-menu-item
    li
    a:hover,
  .mainmenu-nav
    .mainmenu
    li.with-megamenu
    .lightchain-megamenu
    .wrapper
    .mega-menu-item
    li
    a.active {
    background: #efefff;
  }
  .mainmenu-nav
    .mainmenu
    li.with-megamenu
    .lightchain-megamenu
    .wrapper
    .mega-menu-item {
    border-color: #7064e94d;
  }
  .mainmenu-nav
    .mainmenu
    li.with-megamenu
    .lightchain-megamenu
    .wrapper
    .mega-menu-item {
    border-right: none;
  }
  .mainmenu-nav .mainmenu li.has-droupdown .submenu li a:hover {
    background: #d8d8d8;
  }

  .mainmenu-nav
    .mainmenu
    li.with-megamenu
    .lightchain-megamenu
    .wrapper
    .mega-menu-item
    li
    a:hover {
    background: #efefff;
    color: #5b4bff;
  }
  .mainmenu-nav .mainmenu li.has-droupdown .submenu,
  .mainmenu-nav .mainmenu li.with-megamenu .lightchain-megamenu .wrapper {
    background: #f5f8fa;
  }
  .mainmenu-nav .mainmenu > li > a,
  .mainmenu-nav .mainmenu li.has-droupdown .submenu li a,
  .mainmenu-nav
    .mainmenu
    li.with-megamenu
    .lightchain-megamenu
    .wrapper
    .mega-menu-item
    li
    a {
    color: #65676b;
  }
  .mainmenu-nav .mainmenu li.has-droupdown .submenu li a:hover {
    color: #5b4bff;
  }
  .mainmenu-nav
    .mainmenu
    li.with-megamenu
    .lightchain-megamenu
    .wrapper
    .lcai-short-title {
    border-bottom: 1px solid rgba(from #5b4bff r g b / 0.2);
  }
  .mainmenu-nav
    .mainmenu
    li.with-megamenu
    .lightchain-megamenu
    .wrapper
    .mega-menu-item.mega-menu-card-item
    .lcai-nav-card:hover {
    color: var(--color-darker) !important;
  }
  .mainmenu-nav
    .mainmenu
    li.with-megamenu
    .lightchain-megamenu
    .wrapper
    .mega-menu-item.mega-menu-card-item
    .lcai-nav-card
    .icon.bg-flashlight-static::after {
    background: linear-gradient(to bottom, #f5f8fa, #f5f8fa);
  }
  .mainmenu-nav
    .mainmenu
    li.with-megamenu
    .lightchain-megamenu
    .wrapper
    .single-mega-item.has-bg-1 {
    background: url("/images/banner/header-banner-01-light.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mainmenu-nav
    .mainmenu
    li.with-megamenu
    .lightchain-megamenu
    .wrapper
    .mega-menu-item.mega-menu-card-item
    .lcai-nav-card
    .icon {
    background: rgb(0 0 0 / 20%);
  }
  .mainmenu-nav .mainmenu li.with-megamenu .lightchain-megamenu .wrapper,
  .mainmenu li.with-megamenu .lightchain-megamenu {
    border: none !important;
  }
  .mainmenu li.with-megamenu .lightchain-megamenu {
    background: none !important;
  }
  .news-card .lightchain-badge.lightchain-badge-border {
    background: hsla(0, 0%, 100%, 0.231);
  }
  .news-card .title {
    color: #fff;
  }
}
// @media (max-width: 1200px) {
//   .mainmenu-nav {
//     display: none !important;
//   }
//   .mobile-menu-bar {
//     display: block !important;
//   }
// }


.link-hover {
  a {
    display: inline-block;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: auto;
      bottom: 0;
      background: currentColor;
      width: 0;
      height: 2px;
      transition: 0.3s;
      right: 0;
    }

    &:hover {
      &::after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }
  }
}